.main {
    display: flex;
    position: relative;
    top: 0%;
    left: 0%;
    margin: auto;
    //transform: translate(-50%, -50%);
    width: 1800px;
}

.game {
    flex: 0 0 1280px;
}

.chat {
    flex: 1 1 0px;
}

.gameWindow {
    padding: 3px;
    border: 2px solid #eeeeee;
}