.form {
    display: flex;
    border-top: 2px solid #d3d3d3;
}

.input {
    border: none;
    border-radius: 0;
    padding: 5%;
    width: 80%;
    font-size: 1.2em;
    background-color: rgba(135, 99, 170, 0.692);
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.sendButton {
    color: #fff !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979ff;
    padding: 20px;
    display: inline-block;
    border: none;
    width: 20%;
}

.sendButton:hover {
    background: #2363d1;
}

.sendButton:active {
    background: #2260cc;
}
