.textContainer {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgb(42, 0, 82), rgb(57, 11, 165));
    height: 25%;
    justify-content: space-between;
    padding-bottom: 30px;
}

.title {
    margin-bottom: 10px !important;
}

.activeContainer {
    display: flex;
    align-items: center;
    margin-bottom: auto;
    margin-left: 8%;
}

.activeItem {
    display: flex;
    align-items: center;
}

.activeContainer img {
    padding-left: 10px;
    padding-right: 10px;
}

.textContainer h1 {
    margin-bottom: 0px;
}
